@use '../styles/vars' as v;
h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: v.$blue-accent;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    margin: 0.8rem auto 0;
    border-radius: 999px;
    background: linear-gradient(to right, v.$blue-accent, #7dc7ff);
  }
}

p {
  font-size: clamp(1rem, 2vw, 1.15rem);
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.75);
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.about-section {
  padding: 120px 5% 150px; 
  background: linear-gradient(180deg, #f9fbfd 0%, #ffffff 100%);
  text-align: center;
  position: relative;
  overflow: hidden; // On put hidden pour couper le contenu qui deborde de l'overlay

  // Ligne décorative verticale (Haut)
  &::before {
    content: '';
    position: absolute;
    top: 50px; left: 5%;
    width: 2px; height: 100px;
    background: v.$blue-accent;
  }

// --- OVERLAY OBLIQUE DE RUPTURE (Bas) ---
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    
    // Dégradé renforcé pour plus d'opacité
    background: linear-gradient(10deg, rgba(v.$blue-accent, 0.27) 0%, transparent 80%);
    
   // On mets une inclinaison dynamique
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
    pointer-events: none;
    z-index: 0;
  }

  .container { 
    max-width: 800px; 
    margin: 0 auto; 
    position: relative;
    z-index: 1; // Assure que le contenu reste au-dessus de l'overlay
  }
  

  @media (max-width: 768px) {
    padding: 80px 20px 100px;
    .stats { gap: 40px; }
    h2 { font-size: 1.8rem;  color: v.$blue-accent; }
    p { font-size: 1.1rem; }
  }
}